body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    color: #333; /* Dark grey color for text */
  }

  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid #e30707; */
    width: 90%;
  }

  .flashcard-container
  {
    margin-top: 50px;
    width: 712px; /* Prevents it from becoming too large */
    height: 712px; /* Adjust based on your content */
    display: flex;
    cursor: pointer;
  }

  .flashcard {
    width: 100%; /* Prevents it from becoming too large */
    height: 100%; /* Adjust based on your content */
    position: relative;
    transition: transform 0.8s;
  }

  .flashcard.flipped .front:hover::after {
    visibility: hidden;
    opacity: 0;
}

  .flashcard:hover {
    transform: scale(1.05);
  }

  .flashcard.flipped .front {
    transform: rotateY(180deg);
  }

  .flashcard.flipped .back {
    transform: rotateY(360deg);
  }

  .front, .back {
    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* Rounded corners for a fancy look */

    background-color: #fff;
    border: 2px solid #59616a; /* Solid blue border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }

  .front::after {
    content: var(--bubble-content, ''); /* Use a CSS variable, default to empty */
    position: absolute;
    left: 50%;
    top: -0%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: opacity 0.3s, visibility 0.3s;
    display: inline-flex; /* Adjusted to inline-flex to wrap content */
    align-items: center;
    justify-content: center;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: large;
  }

  .front:hover::after {
    visibility: visible;
    opacity: .9;
  }

  .back {
    transform: rotateY(180deg);
  }

  .back-content {
    z-index: 2;
    /* Align your text as needed */
    display: flex;
    width: 500px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .flashcard-title {
    display: flex;
    justify-content: center;
    font-family: 'Almendra SC', serif;
    font-size: 3.5em; /* Large font for the verb */
    color: #333; /* Title text color */
    font-weight: bold; /* Title font weight */
    z-index: 10; /* Ensure title is always visible */
    margin-top: 165px;
    margin-bottom: 0;
  }


.flashcard-header {
    color: #444;
    position: relative;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    font-size: 20px; /* Adjust size as needed */
    margin-top:10px;
    margin-bottom: 0;
  }

  .flashcard-list {
    display:flex;
    justify-content: flex-start;
    font-family: 'IM Fell English SC', serif;
    color: #444;
    font-size: 20px; /* Adjust size as needed */
    font-weight: bold;
    margin-top: 0;
  }
