body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
  }

  /* Why are the buttons not displayed inside the wrapper?
    */
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid #e30707; */
    width: 90%;
  }
  .flashcard-container
  {
    width: 712px; /* Prevents it from becoming too large */
    height: 712px; /* Adjust based on your content */
    display: flex;
  }
  .flashcard {
    width: 100%; /* Prevents it from becoming too large */
    height: 100%; /* Adjust based on your content */
    position: relative;
    transition: transform 0.8s;
  }

  .front, .back {
    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* Rounded corners for a fancy look */

    background-color: #fff;
    border: 2px solid #59616a; /* Solid blue border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }

  .flashcard:hover {
    /* scale by 1.05 */
    transform: scale(1.05);
  }

  .back {
    transform: rotateY(180deg);
  }

  .flashcard.flipped .front {
    transform: rotateY(180deg);
  }

  .flashcard.flipped .back {
    transform: rotateY(360deg);
  }

  .back-content {
    z-index: 2;
    /* Align your text as needed */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
  }

  .flashcard-title {
    display: flex;
    justify-content: center;
    font-family: 'Almendra SC', serif;
    font-size: 3.5em; /* Large font for the verb */
    color: #333; /* Title text color */
    font-weight: bold; /* Title font weight */
    z-index: 10; /* Ensure title is always visible */
    margin-top: 165px;
    margin-bottom: 0;
  }


.flashcard-header {
    color: #444;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'IM Fell English SC', serif;
    font-size: 28px; /* Adjust size as needed */
    margin-top:0;
    margin-bottom: 0;
  }

  .flashcard-list {
    display:flex;
    justify-content: center;
    font-family: 'IM Fell English SC', serif;
    color: #444;
    font-size: 20px; /* Adjust size as needed */
    font-weight: bold;
  }
