.flashcard-container {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 37.5vw; /* Match the child elements */
    height: 37.5vw;
    max-width: 712px;
    max-height: 712px;
    perspective: 1000px; /* Added for 3D effect */
    transition: transform 0.8s;
    cursor: pointer;
    position: relative;
  }

    /* ----------- iPhone X ----------- */

    /* Portrait and Landscape */
    @media only screen
    and (-webkit-min-device-pixel-ratio: 3) {
        .flashcard-container {
            width: 80vw; /* Match the child elements */
            height: 80vw;
            perspective: 600px;
            margin-top: 10vw;
        }
    }

  .flashcard-container.flipped .front:hover::after {
    visibility: hidden;
    opacity: 0;
}

  .flashcard-container:hover {
    transform: scale(1.05);
  }

  .flashcard-container.flipped .front {
    transform: rotateY(180deg);
  }

  .flashcard-container.flipped .back {
    transform: rotateY(360deg);
  }

  .front, .back {
    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%; /* Use percentage to fill the container */
    height: 100%; /* Use percentage to fill the container */
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* Rounded corners for a fancy look */

    background-color: #fff;
    border: 2px solid #59616a; /* Solid blue border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

    position: absolute; /* Changed to absolute */
    top: 0;
    left: 0;
  }

  .front::after {
    content: var(--bubble-content, ''); /* Use a CSS variable, default to empty */
    position: relative;
    left: 50%;
    top: -0%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: opacity 0.3s, visibility 0.3s;
    display: inline-flex; /* Adjusted to inline-flex to wrap content */
    align-items: center;
    justify-content: center;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
  }

  .front:hover::after {
    visibility: visible;
    opacity: .9;
  }

  .back {
    transform: rotateY(180deg);
  }

  .back-content {
    z-index: 2;
    /* Align your text as needed */
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .flashcard-title {
    font-family: 'Almendra SC', serif;
    color: #333; /* Title text color */
    font-weight: bold; /* Title font weight */
    text-align: center;
    font-size: 3.0vw; /* Large font for the verb */
    z-index: 10; /* Ensure title is always visible */
    margin-top: 3.0em;
    margin-bottom: 0;
  }


.flashcard-sentence {
    color: #444;
    position: relative;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    font-size: 1.1vw; /* Adjust size as needed */
    margin-top:10px;
    margin-bottom: 0;
    max-width: 21vw;
  }

  .flashcard-list {
    font-family: 'IM Fell English SC', serif;
    color: #444;
    font-size: 1.1vw; /* Adjust size as needed */
    font-weight: bold;
    text-align: left;
    margin:auto;
    max-width: 35vw;
  }
