#categorySelection {
    position: relative;
    color: #333; /* Dark grey color for text */
    font-family: 'IM Fell English SC';
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.category {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    align-items: center;
    align-self: auto;
    position: relative;
}
