#categorySelection {
    position: relative;
    color: #333; /* Dark grey color for text */
    font-family: 'IM Fell English SC';
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.category {
    display: grid;
    width: 60%;
    position: relative;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    row-gap: 5%;
    column-gap: 5%;
    justify-content: center;
    margin:auto;
}

#welcome {
    font-family: 'IM Fell English SC';
    font-size: 3vw;
    margin:auto;
    margin-top: 1vw;
    position: relative;
}


header {
    position: relative;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: center; /* Keeps the header content centered */
    align-items: center;

}

#logo {
    position: absolute;
    left: 10%; /* Aligns with the left edge of the .wrapper */
    height: 3vw; /* Example size, adjust as needed */
    width: auto;
    border-radius: 10%;
}

/* ----------- iPhone SE ----------- */
    /* Portrait and Landscape */
    @media only screen
    and (-webkit-device-pixel-ratio: 2) {
        #welcome {
            font-size: 4.5vw;
        }
        #logo {
            height: 6vw;
            width: auto;
        }
    }
