#selectionArea {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left:1rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}


header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; /* Keeps the header content centered */
    align-items: center;
    font-family: 'IM Fell English SC';
    font-size: 1.5rem;
    flex-direction: column; /* Aligns the logo and nav vertically */
}

#logo {
    height: auto; /* Maintain aspect ratio */
    max-width: 10rem; /* Maximum size */
    max-height: 4rem; /* Adjust based on your preference */
    margin-bottom: 1rem; /* Space between logo and heading */
    margin-top: 1rem;
    border-radius: 10%;
}

#randomizeSelection {
    text-align: left;
    margin: 20px auto; /* Centering it horizontally */
    font-size: 1.5rem; /* Matching the font size of your selects */
    display: flex; /* Using flexbox for alignment */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center the contents */
    width: 80%; /* Matching the width of your selectionArea */
}

#randomizeSelection label {
    margin-left: 10px; /* Space between checkbox and label */
    cursor: pointer; /* Indicates the label is clickable */
}

/* Optionally, if you want to increase the size of the checkbox */
#randomize-checkbox {
    width: 1.2rem; /* Width */
    height: 1.2rem; /* Height */
    margin-left: 10px; /* Ensures some space between checkbox and label */
    cursor: pointer; /* Indicates the checkbox is clickable */
}


#topic-selection {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}
#topic-select {
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid #ccc;
}
#categorySelection {
    position: relative;
    margin-top: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2rem;
}

#category-select {
    font-size: 1.5rem;
    border: 1px solid #ccc;
    width: 100%;
}
