#language-selection {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2vw;
}
#language-select {
    font-size: 1.5vw;
}


@media only screen and (max-width: 700px) {
    #language-selection {
        font-size: 2.5vw;
    }
    #language-select {
        font-size: 2.0vw;
    }
  }

  /* ----------- iPhone X ----------- */
    /* Portrait and Landscape */
    @media only screen
    and (-webkit-min-device-pixel-ratio: 3) {
        #language-selection {
            font-size: 3.5vw;
        }
        #language-select {
            font-size: 3.0vw;
        }
    }

/* ----------- iPhone SE ----------- */
    /* Portrait and Landscape */
    @media only screen
    and (-webkit-device-pixel-ratio: 2) {
        #language-selection {
            font-size: 4.0vw;
        }
        #language-select {
            font-size: 3.5vw;
        }
    }
