.menu {
    text-align: center; /* Center the buttons horizontally */
    margin-top: 1.5vw; /* Adjust the space between the flashcard container and the menu */
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
    width: 100%; /* Ensure the menu takes the full width to properly center its content */
    /* border: solid blue; */
    border-width: 5px;
    position: relative;
}
