.menu {
    text-align: center; /* Center the buttons horizontally */
    margin-top: 1.0vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
    width: 100%; /* Ensure the menu takes the full width to properly center its content */
    /* border: solid blue; */
    border-width: 5px;
    position: relative;
}


/* ----------- iPhone X ----------- */
    /* Portrait and Landscape */
    @media only screen
    and (-webkit-min-device-pixel-ratio: 3) {
        .menu {
            margin-top: 3.0vw;
        }
    }

/* ----------- iPhone SE ----------- */
/* Portrait and Landscape */
    @media only screen
    and (-webkit-device-pixel-ratio: 2) {
        .menu {
            margin-top: 3.0vw;
        }
    }
