.stats {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size:1.5rem;
    position: relative;
    margin:auto;
    width: 50rem;
}

.progress-bar {
    height: 2rem;
    margin: auto;
    margin-left:0;
    margin-top: 1rem;
    background-color: #4CAF50;
    border-radius: 8px;
    transition: width 0.4s ease-in-out;
    position: relative;
}

#cardStats{
    margin-top:1rem;
}


@media only screen
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .stats {
        width: 45rem;
    }
}

@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .stats {
        width: 42rem;
    }
}
