.stats {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 37.5vw;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    position: relative;
}

.progress-bar-container {
    width: 37.5vw;
    height: 2.5vh;
    background-color: #eee;
    border-radius: 2%;
    position: relative;
}

.progress-bar {
    height: 100%;
    margin: 10 px auto;
    background-color: #4CAF50;
    border-radius: 8px;
    transition: width 0.4s ease-in-out;
    position: relative;
}
