*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    background-color: #f0f0f0;
    color: #333; /* Dark grey color for text */
    font-family: 'IM Fell English SC', serif;
    font-size: large;
    position: relative;
    margin: auto;
    min-height: 100vh; /* Minimum height of viewport */
    display: flex;
    flex-direction: column;
}

  .wrapper{
    color: #333; /* Dark grey color for text */
    font-family: 'IM Fell English SC';
    /* border: 10px solid #e30707; */
    width: 90%;
    position: relative;
    margin: auto;
    flex: 1;
  }

  .footer {
    color:  #333;
    text-align: center;
    line-height: 50px; /* Adjust to match your footer height */
    position: relative;
}

  @media only screen and (max-width: 600px) {
    .body {
        min-width: 650px;
    }
  }
