*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px; /* Default base size */
}

body, html {
    background-color: #f0f0f0;
    color: #333; /* Dark grey color for text */
    font-family: 'IM Fell English SC', serif;
    position: relative;
    margin: auto;
    min-height: 100vh; /* Minimum height of viewport */
}

  .wrapper{
    /* border: 10px solid #e30707; */
    position: relative;
    margin: auto;
    flex: 1;
  }

  .footer {
    line-height: 50px; /* Adjust to match your footer height */
    position: absolute;
    left: 50%; /* Position the footer halfway across the screen */
    bottom: 0;
    transform: translateX(-50%); /* Shift it back to the left by half its width */
    width: 100%; /* Optional: If you want the footer to span the whole width */
    text-align: center; /* Ensure text is centered */
}

@media only screen and (max-width: 1600px) {
    html {
        font-size: 12px;
    }
  }

@media only screen and (max-width: 1000px) {
    html {
        font-size: 10px;
    }
  }

  @media only screen and (max-width: 800px) {
    html {
        font-size: 8px;
    }
    body
    {
        min-width: 50rem;
    }
  }


/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    html {
        font-size: 6px;
    }
}

/* ----------- iPhone SE ----------- */
    /* Portrait and Landscape */
@media only screen
and (-webkit-device-pixel-ratio: 2) {
    html {
        font-size: 6px;
    }
}
